* {
  margin: 0;
  padding: 0;
}

p {
  color: blue; /* Deixa todos os <p> azuis */
}

.destaque {
  font-weight: bold; /* Aplica negrito a qualquer elemento com class="destaque" */
}

#cabecalho-principal {
  background-color: black;
}

div p { /* Seleciona todos os <p> que estão em algum lugar dentro de uma <div> */
  color: red;
}

ul > li { /* Seleciona apenas os <li> que estão diretamente dentro do <ul> */
  list-style-type: square;
}

/* Seleciona o primeiro <p> que aparece logo após um <h1> */
h1 + p {
  margin-top: 0;
}

/* Seleciona todos os <p> que estão após o <h1> no mesmo contêiner */
h1 ~ p { 
  font-size: 14px;
}