/* Usando nomes */
h1 {
  color: red;
}

/* Usando hexadecimal */
p {
  color: #1a1a1a;
}

/* Usando RGB */
div {
  background-color: rgb(0, 128, 255);
}

/* Usando RGBA */
section {
  background-color: rgba(0, 128, 255, 0.3);
}

/* Usando HSL */
article {
  color: hsl(120, 100%, 25%);
}
